<?xml version="1.0" ?>
<sdf version="1.7" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="camera_width" default="1920"/>
  <xacro:arg name="camera_height" default="1080"/>
  <xacro:arg name="frame_rate" default="30"/>
  <xacro:arg name="camera_name"  default="simple_camera"/>
  <xacro:arg name="camera_topic" default="$(arg camera_name)"/>
  <xacro:property name="camera_width" value="$(arg camera_width)" />
  <xacro:property name="camera_height" value="$(arg camera_height)" />
  <xacro:property name="frame_rate" value="$(arg frame_rate)" />
  <xacro:property name="camera_topic" value="$(arg camera_topic)" />
  <xacro:property name="camera_name" value="$(arg camera_name)" />
  <model name="${camera_name}">
    <static>true</static>
    <link name="simple_camera_link">
        <sensor type="camera" name="${camera_name}">
          <camera>
            <horizontal_fov>${69.4*3.14159/180}</horizontal_fov>
            <image>
              <width>${camera_width}</width>
              <height>${camera_height}</height>
            </image>
            <clip>
              <near>0.01</near>
              <far>100</far>
            </clip>
          </camera>
          <always_on>1</always_on>
          <update_rate>${frame_rate}</update_rate>
          <visualize>false</visualize>
          <topic>${camera_topic}</topic>
        </sensor>
        <inertial>
          <inertia>
            <ixx>0</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>0</iyy>
            <iyz>0</iyz>
            <izz>0</izz>
          </inertia>
          <mass>0.0</mass>
        </inertial>
    </link>

    <!-- <link name="world"/>
    <joint name="fixed" type="fixed">
      <parent link="world"/>
      <child link="simple_camera_link"/>
    </joint> -->

  </model>
</sdf>