<?xml version="1.0" encoding="utf-8"  ?>
<robot name="cube" xmlns:xacro="http://www.ros.org/wiki/xacro">


	<!-- * * * Link Definitions * * * -->
  	<!-- * * * Define World Link to fix the foot rail to the world * * * -->
    <link name="world"/>
	<link name="cube_link">
		<visual>
			<origin xyz="0 0 ${bar_height/2}" rpy="0 0 0"/>
			<geometry>
				<box size="1 1 1"/>
			</geometry>
	   </visual>
		<collision>
			<origin xyz="0 0 ${bar_height/2}" rpy="0 0 0"/>
			<geometry>
				<box size="1 1 1"/>
			</geometry>
	   </collision>
		<xacro:box_inertial mass="100" x="1" y="1" z="1" pose_xyz="0 0 0" pose_rpy="0 0 0"/>
	</link>





	<joint name="fixed" type="fixed">
        <parent link="world"/>
        <child link="cube_link"/>
    </joint>



</robot>
